{% extends layout %}

{% block head %}
    <title> Editeur - Panier </title>
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="main_section">
        <form method="POST" class="col-md-8 py-4 mx-auto" action="{{routeOf('basketAdd', {id : id })}}">
            <input type="hidden" name="date" value="{{ "now" | date("Y-m-d H:i:s" )}}"/>
            <fieldset>
                <legend>Veuillez sélectionner les produits :</legend>
                {% for product in products %}
                    <div class="form-group">
                        <label for="{{ product.title }}">{{ product.title }}</label>
                        <input
                                id="{{ product.title }}"
                                name="produits[]"
                                maxlength="40"
                                type="checkbox"
                                class="form-control"
                                value="{{product.id}}"
                            {% if product.id in produits %}
                                checked
                            {% endif %}
                        >
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" name="submit_type" value="save">Ajouter</button>
                <button type="submit" class="btn btnSaveClose" name="submit_type" value="saveandclose">Ajouter et Fermer</button>
                <button type="submit" class="btn btnClose" name="submit_type" value="close" >Fermer</button>
            </fieldset>
        </form>
    </section>
{% endblock %}